<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>{% block title %}Admin Panel{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('build/img/adidas.png') }}" />
    <link rel="stylesheet" href={{ asset('build/section-admin.728a21a0.css')}}
    {% block stylesheets %}{% endblock %}
</head>

{% block layout_body %}
   
{% endblock %}
<script src="{{ asset('build/section-admin.e07769c5.js') }}"></script>
</html>
