{% extends 'admin/base.html.twig' %}

{% block layout_body %}
    <body class="bg-dark bg-gradient">

        <div class="container">

            {% block body %}{% endblock %}

        </div>

        {% block javascripts %}{% endblock %}
    </body>
{% endblock %}
