{% extends 'admin/layout/layout_empty_page.html.twig' %}

{% block title %}Log In{% endblock %}

{% block body %}
	{# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

	<style>
		/* Form Style */
		.form-horizontal {
			background: #fff;
			padding-bottom: 40px;
			border-radius: 15px;
			text-align: center;
		}
		.form-horizontal .heading {
			display: block;
			font-size: 35px;
			font-weight: 700;
			padding: 35px 0;
			border-bottom: 1px solid #f0f0f0;
			margin-bottom: 30px;
		}
		.form-horizontal .form-group {
			padding: 0 40px;
			margin: 0 0 25px;
			position: relative;
		}
		.form-horizontal .form-control {
			background: #f0f0f0;
			border: none;
			border-radius: 20px;
			box-shadow: none;
			padding: 0 20px 0 45px;
			height: 40px;
			transition: all 0.3s ease 0s;
		}
		.form-horizontal .form-control:focus {
			background: #e0e0e0;
			box-shadow: none;
			outline: 0 none;
		}
		.form-horizontal .form-group i {
			position: absolute;
			top: 12px;
			left: 60px;
			font-size: 17px;
			color: #c8c8c8;
			transition: all 0.5s ease 0s;
		}
		.form-horizontal .form-control:focus + i {
			color: #00b4ef;
		}
		.form-horizontal .fa-question-circle {
			display: inline-block;
			position: absolute;
			top: 12px;
			right: 60px;
			font-size: 20px;
			color: #808080;
			transition: all 0.5s ease 0s;
		}
		.form-horizontal .fa-question-circle:hover {
			color: #000;
		}
		.form-horizontal .main-checkbox {
			float: left;
			width: 20px;
			height: 20px;
			background: #11a3fc;
			border-radius: 50%;
			position: relative;
			margin: 5px 0 0 5px;
			border: 1px solid #11a3fc;
		}
		.form-horizontal .main-checkbox label {
			width: 20px;
			height: 20px;
			position: absolute;
			top: 0;
			left: 0;
			cursor: pointer;
		}
		.form-horizontal .main-checkbox label:after {
			content: "";
			width: 10px;
			height: 5px;
			position: absolute;
			top: 5px;
			left: 4px;
			border: 3px solid #fff;
			border-top: none;
			border-right: none;
			background: transparent;
			opacity: 0;
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
		.form-horizontal .main-checkbox input[type=checkbox] {
			visibility: hidden;
		}
		.form-horizontal .main-checkbox input[type=checkbox]:checked + label:after {
			opacity: 1;
		}
		.form-horizontal .text {
			float: left;
			margin-left: 7px;
			line-height: 20px;
			padding-top: 5px;
			text-transform: capitalize;
		}
		.form-horizontal .btn {
			float: right;
			font-size: 14px;
			color: #fff;
			background: #00b4ef;
			border-radius: 30px;
			padding: 10px 25px;
			border: none;
			text-transform: capitalize;
			transition: all 0.5s ease 0s;
		}
		@media only screen and(max-width: 479px) {
			.form-horizontal .form-group {
				padding: 0 25px;
			}
			.form-horizontal .form-group i {
				left: 45px;
			}
			.form-horizontal .btn {
				padding: 10px 20px;
			}
		}
	</style>

	<div class="container" style="margin-top: 100px;">
		<div class="row">

			<div class="col-md-offset-3 col-md-6">
				<form class="form-horizontal user" method="post">
					<span class="heading">АВТОРИЗАЦИЯ ДЛЯ АДМИНОВ</span>

					<div class="form-group">
						<input type="email" class="form-control" id="inputEmail" placeholder="E-mail" value="{{ last_username }}">
					</div>
					<div class="form-group help">
						<input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password">
					</div>

					<div class="form-group">
						<div class="main-checkbox">
							<input type="checkbox" value="none" id="checkbox1" name="check"/>
							<label for="checkbox1"></label>
						</div>
						<span class="text">Запомнить</span>
						<button type="submit" class="btn btn-default">ВХОД</button>
					</div>
				</form>
			</div>

		</div>
		<!-- /.row -->
	</div>
	<!-- /.container --> #}


	<div class="row justify-content-center">
	
	        <div class="col-xl-5 col-lg-6 col-md-9">
	
	            <div class="card o-hidden border-0 shadow-lg my-5">
	                <div class="card-body p-6">
	
	                    <div class="row">
	                        <div class="col-lg-12">
	                            <div class="p-10">
	                                <div class="text-center">
	                                    <h1 class="h4 text-gray-900 mb-4">АВТОРИЗАЦИЯ ДЛЯ АДМИНОВ</h1>
	                                </div>
	                                <form method="post" class="user">
	
	                                    {% if error %}
	                                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	                                    {% endif %}
	
	                                    <div class="form-group">
	                                        <input type="email" class="form-control form-control-user"
	                                               id="inputEmail" aria-describedby="emailHelp" name="email"
	                                               placeholder="Enter Email Address..." value="{{ last_username }}">
	                                    </div>
	                                    <div class="form-group">
	                                        <input type="password" class="form-control form-control-user"
	                                               id="inputPassword" name="password" placeholder="Password">
	                                    </div>
	                                    <div class="form-group">
	                                        <div class="custom-control custom-checkbox small">
	                                            <input type="checkbox" class="custom-control-input" id="rememberMe" name="_remember_me">
	                                            <label class="custom-control-label" for="rememberMe">Запомнить
	                                                меня</label>
	                                        </div>
	                                    </div>
	
	                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
	                                    <button type="submit" class="btn btn-primary btn-user btn-block">
	                                        Login
	                                    </button>
	
	                                </form>
	                            </div>
	                        </div>
	                    </div>
	
	                </div>
	            </div>
	
	        </div>
	
	    </div>
{% endblock %}
